

<!--Loading Dots Spinner-->

<p-dialog [(visible)]="isLoading" [modal]="true" [closable]="false" [draggable]="false" [resizable]="false">
  <p>{{ message }}</p>
  <div class="viewLoading-spinner">
    <div class="bouncing-dots">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</p-dialog>


<!--Loading Circles Spinner-->

<!--<p-dialog [(visible)]="isLoading" [modal]="true" [closable]="false" [draggable]="false" [resizable]="false">
  <div class="viewLoading-spinner">
    <div class="rotating-circles">
      <div></div>
      <div></div>
    </div>
  </div>
</p-dialog>-->

