<p-toolbar styleClass="mb-6">
    <ng-template #start>
        <p-button label="New" icon="pi pi-plus" severity="secondary" class="mr-2" (onClick)="employeeCreate()" />
        <p-button severity="secondary" label="Delete" icon="pi pi-trash" outlined (onClick)="confirmEmployeeDelete()" [disabled]="!selectedEmployee || !selectedEmployee.length" />
    </ng-template>

    <ng-template #end>
        <p-button label="Export" icon="pi pi-upload" severity="secondary" (onClick)="exportCSV()" />
    </ng-template>
</p-toolbar>

<p-table
    #dt
    [value]="employees"
    [rows]="10"
    [columns]="cols"
    [paginator]="true"
    [globalFilterFields]="['id', 'fullName', 'email', 'isActive', 'userDetails.departmentName', 'userDetails.designationName']"
    [tableStyle]="{ 'min-width': '75rem' }"
    [(selection)]="selectedEmployee"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} products"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 20, 30]"
>
    <ng-template #caption>
        <div class="flex items-center justify-between">
            <h5 class="m-0">Employee List</h5>
            <p-iconfield>
                <input #searchInput type="text" pInputText (input)="dt.filterGlobal(searchInput.value, 'contains')" placeholder="Search" />
            </p-iconfield>
        </div>
    </ng-template>
    <ng-template #header>
        <tr>
            <th style="width: 3rem">
                <p-tableHeaderCheckbox />
            </th>
            <th pSortableColumn="email" style="min-width: 6rem">
                Email
                <p-sortIcon field="email" />
            </th>
            <th pSortableColumn="fullName" style="min-width: 6rem">
                Full Name
                <p-sortIcon field="fullName" />
            </th>
            <th pSortableColumn="departmentName" style="min-width: 10rem">
                Department
                <p-sortIcon field="departmentName" />
            </th>
            <th pSortableColumn="designationName" style="min-width: 10rem">
                Designation
                <p-sortIcon field="designationName" />
            </th>
            <th pSortableColumn="admin" style="min-width: 6rem">
                Admin
                <p-sortIcon field="admin" />
            </th>
            <th pSortableColumn="status" style="min-width: 6rem">
                Status
                <p-sortIcon field="status" />
            </th>
            <th style="min-width: 10rem"></th>
        </tr>
    </ng-template>
    <ng-template #body let-employee>
        <tr>
            <td style="width: 3rem">
                <p-tableCheckbox [value]="employee" />
            </td>
            <td style="min-width: 12rem">{{ employee.email }}</td>

            <td style="min-width: 12rem; height: 4rem" class="flex items-center gap-2">
                <img [src]="employee?.userDetails?.image ? apiUrl + '/' + employee.userDetails.image : 'assets/images/profile.png'" class="rounded employeeImg" />
                {{ employee.fullName }}
            </td>

            <td style="min-width: 12rem">
                {{ employee.userDetails?.departmentName ?? 'Company' }}
            </td>
            <td style="min-width: 10rem">
                {{ employee.userDetails?.designationName ?? 'Company' }}
            </td>

            <td style="min-width: 10rem">{{ employee.isAdmin ? 'Yes' : 'No' }}</td>
            <td style="min-width: 10rem">{{ employee.isActive ? 'Active' : 'In Active' }}</td>
            <td>
                <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" (click)="employeeEdit(employee)" />
                <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" (click)="deleteEmployee(employee)" />
            </td>
        </tr>
    </ng-template>
</p-table>
<p-toast />
<p-confirmdialog [style]="{ width: '450px' }" />
<app-loading [isLoading]="loading"></app-loading>
