<div class="bg-surface-50 dark:bg-surface-950 flex items-center justify-center min-h-screen min-w-[100vw] overflow-hidden">
  <div class="flex flex-col items-center justify-center">
    <form [formGroup]="signupForm" (ngSubmit)="SignUp()">
      <div style="border-radius: 56px; padding: 0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%)">
        <div class="w-full bg-surface-0 dark:bg-surface-900 py-20 px-8 sm:px-20" style="border-radius: 53px">
          <div class="text-center">
            <div class="text-surface-900 dark:text-surface-0 text-3xl font-medium mb-4">Sign Up</div>
          </div>

          <div>
            <label for="company" class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2">Company</label>
            <input
              pInputText
              id="company"
              formControlName="company"
              type="text"
              placeholder="Company Name"
              class="w-full md:w-[30rem] mb-4"
              aria-describedby="company-error"
            />
            <div *ngIf="signupForm.get('company')?.invalid && signupForm.get('company')?.touched" class="text-red-500 text-sm" id="company-error">
              Company name is required.
            </div>

            <label for="email" class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2">Email</label>
            <input
              pInputText
              id="email"
              formControlName="email"
              type="email"
              placeholder="Email address"
              class="w-full md:w-[30rem] mb-4"
              aria-describedby="email-error"
            />
            <div *ngIf="signupForm.get('email')?.invalid && signupForm.get('email')?.touched" class="text-red-500 text-sm" id="email-error">
              <div *ngIf="signupForm.get('email')?.errors?.['required']">Email is required.</div>
              <div *ngIf="signupForm.get('email')?.errors?.['email']">Invalid email format.</div>
            </div>

            <label for="password" class="block text-surface-900 dark:text-surface-0 font-medium text-xl mb-2">Password</label>
            <p-password
              id="password"
              formControlName="password"
              placeholder="Password"
              [toggleMask]="true"
              styleClass="mb-4"
              [fluid]="true"
              [feedback]="false"
              aria-describedby="password-error"
            ></p-password>
            <div *ngIf="signupForm.get('password')?.invalid && signupForm.get('password')?.touched" class="text-red-500 text-sm" id="password-error">
              <div *ngIf="signupForm.get('password')?.errors?.['required']">Password is required.</div>
              <div *ngIf="signupForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters.</div>
            </div>

            <label for="cPassword" class="block text-surface-900 dark:text-surface-0 font-medium text-xl mb-2">Confirm Password</label>
            <p-password
              id="cPassword"
              formControlName="confirmPassword"
              placeholder="Confirm Password"
              [toggleMask]="true"
              styleClass="mb-4"
              [fluid]="true"
              [feedback]="false"
              aria-describedby="cPassword-error"
            ></p-password>
            <div *ngIf="signupForm.get('confirmPassword')?.invalid && signupForm.get('confirmPassword')?.touched" class="text-red-500 text-sm" id="cPassword-error">
              Confirm Password is required.
            </div>
            <div *ngIf="signupForm.errors?.['passwordMismatch'] && signupForm.get('confirmPassword')?.touched" class="text-red-500 text-sm">
              Passwords do not match.
            </div>

            <div class="flex items-center justify-between mt-2 mb-8 gap-8">
              <div class="flex items-center">
                <label for="rememberme1">Already have an account..?</label>
              </div>
              <a routerLink="/auth/login" class="font-medium no-underline ml-2 text-right cursor-pointer text-primary">Login</a>
            </div>
            <p-button type="submit" label="Sign Up" styleClass="w-full" [disabled]="signupForm.invalid"></p-button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<app-loading [isLoading]="loading"></app-loading>
<p-toast [showTransitionOptions]="'350ms'" [showTransformOptions]="'translateX(100%)'" [hideTransitionOptions]="'150ms'" [hideTransformOptions]="'translateX(100%)'" />
<app-floating-configurator />